In [ ]:
import pandas as pd

# Your data
data = """2024.01.03 21:48:33  37.7462   31.6310        5.0      -.-  2.4  -.-   GOLKASI-BEYSEHIR (KONYA)                          İlksel
2024.01.03 20:33:35  40.4418   28.8985        8.0      -.-  1.4  -.-   GEMLIK KORFEZI (MARMARA DENIZI)                   İlksel
2024.01.03 20:25:47  37.8265   36.4542        9.1      -.-  1.9  -.-   GEBEN-ANDIRIN (KAHRAMANMARAS)                     İlksel
2024.01.03 20:00:34  38.6838   37.9958        5.0      -.-  2.0  -.-   IPEKYOLU-HEKIMHAN (MALATYA)                       İlksel
2024.01.03 19:38:07  40.4108   28.8737       10.1      -.-  2.4  -.-   GEMLIK KORFEZI (MARMARA DENIZI)                   İlksel
2024.01.03 18:55:05  38.2988   37.1520        5.0      -.-  1.9  -.-   DOGAN-ELBISTAN (KAHRAMANMARAS)                    İlksel
2024.01.03 18:35:45  37.7362   37.0357        8.5      -.-  1.6  -.-   BAYDEMIRLI-(KAHRAMANMARAS)                        İlksel
2024.01.03 17:08:51  38.0932   36.6637        5.4      -.-  1.6  -.-   KARAOMER-GOKSUN (KAHRAMANMARAS)                   İlksel
2024.01.03 16:32:19  37.3907   36.8250        8.4      -.-  1.6  -.-   TURKOGLU (KAHRAMANMARAS)                          İlksel
2024.01.03 16:24:15  37.3080   42.3467        3.7      -.-  2.3  -.-   PINARONU-SILOPI (SIRNAK)                          İlksel"""

# Create a list of lines
lines = data.split('\n')

# Define column names
columns = ['Tarih', 'Saat', 'Enlem(N)', 'Boylam(E)', 'Derinlik(km)', 'MD', 'ML', 'Mw']

# Create an empty DataFrame
df = pd.DataFrame(columns=columns)

# Iterate through each line and append to DataFrame
for line in lines:
    values = line.split()
    required_vals = values[:8]
    print(required_vals)

    df = df._append(pd.Series(required_vals, index=columns), ignore_index=True)

In [29]:
# Print the resulting DataFrame
#print(df)
df.head()

        Tarih      Saat Enlem(N) Boylam(E) Derinlik(km)   MD   ML   Mw
0  2024.01.03  21:48:33  37.7462   31.6310          5.0  -.-  2.4  -.-
1  2024.01.03  20:33:35  40.4418   28.8985          8.0  -.-  1.4  -.-
2  2024.01.03  20:25:47  37.8265   36.4542          9.1  -.-  1.9  -.-
3  2024.01.03  20:00:34  38.6838   37.9958          5.0  -.-  2.0  -.-
4  2024.01.03  19:38:07  40.4108   28.8737         10.1  -.-  2.4  -.-

In [30]:
df.to_json()

'{"Tarih":{"0":"2024.01.03","1":"2024.01.03","2":"2024.01.03","3":"2024.01.03","4":"2024.01.03","5":"2024.01.03","6":"2024.01.03","7":"2024.01.03","8":"2024.01.03","9":"2024.01.03"},"Saat":{"0":"21:48:33","1":"20:33:35","2":"20:25:47","3":"20:00:34","4":"19:38:07","5":"18:55:05","6":"18:35:45","7":"17:08:51","8":"16:32:19","9":"16:24:15"},"Enlem(N)":{"0":"37.7462","1":"40.4418","2":"37.8265","3":"38.6838","4":"40.4108","5":"38.2988","6":"37.7362","7":"38.0932","8":"37.3907","9":"37.3080"},"Boylam(E)":{"0":"31.6310","1":"28.8985","2":"36.4542","3":"37.9958","4":"28.8737","5":"37.1520","6":"37.0357","7":"36.6637","8":"36.8250","9":"42.3467"},"Derinlik(km)":{"0":"5.0","1":"8.0","2":"9.1","3":"5.0","4":"10.1","5":"5.0","6":"8.5","7":"5.4","8":"8.4","9":"3.7"},"MD":{"0":"-.-","1":"-.-","2":"-.-","3":"-.-","4":"-.-","5":"-.-","6":"-.-","7":"-.-","8":"-.-","9":"-.-"},"ML":{"0":"2.4","1":"1.4","2":"1.9","3":"2.0","4":"2.4","5":"1.9","6":"1.6","7":"1.6","8":"1.6","9":"2.3"},"Mw":{"0":"-.-","1":"-.-","2":"-.-","3":"-.-","4":"-.-","5":"-.-","6":"-.-","7":"-.-","8":"-.-","9":"-.-"}}'

In [31]:
import json

In [32]:
from pprint import pprint

In [33]:
pprint(df.to_json())

'{"Tarih":{"0":"2024.01.03","1":"2024.01.03","2":"2024.01.03","3":"2024.01.03","4":"2024.01.03","5":"2024.01.03","6":"2024.01.03","7":"2024.01.03","8":"2024.01.03","9":"2024.01.03"},"Saat":{"0":"21:48:33","1":"20:33:35","2":"20:25:47","3":"20:00:34","4":"19:38:07","5":"18:55:05","6":"18:35:45","7":"17:08:51","8":"16:32:19","9":"16:24:15"},"Enlem(N)":{"0":"37.7462","1":"40.4418","2":"37.8265","3":"38.6838","4":"40.4108","5":"38.2988","6":"37.7362","7":"38.0932","8":"37.3907","9":"37.3080"},"Boylam(E)":{"0":"31.6310","1":"28.8985","2":"36.4542","3":"37.9958","4":"28.8737","5":"37.1520","6":"37.0357","7":"36.6637","8":"36.8250","9":"42.3467"},"Derinlik(km)":{"0":"5.0","1":"8.0","2":"9.1","3":"5.0","4":"10.1","5":"5.0","6":"8.5","7":"5.4","8":"8.4","9":"3.7"},"MD":{"0":"-.-","1":"-.-","2":"-.-","3":"-.-","4":"-.-","5":"-.-","6":"-.-","7":"-.-","8":"-.-","9":"-.-"},"ML":{"0":"2.4","1":"1.4","2":"1.9","3":"2.0","4":"2.4","5":"1.9","6":"1.6","7":"1.6","8":"1.6","9":"2.3"},"Mw":{"0":"-.-","1":"-.-","2":"-.-","3":"-.-","4":"-.-","5":"-.-","6":"-.-","7":"-.-","8":"-.-","9":"-.-"}}'

In [34]:
df.to_csv()

',Tarih,Saat,Enlem(N),Boylam(E),Derinlik(km),MD,ML,Mw\n0,2024.01.03,21:48:33,37.7462,31.6310,5.0,-.-,2.4,-.-\n1,2024.01.03,20:33:35,40.4418,28.8985,8.0,-.-,1.4,-.-\n2,2024.01.03,20:25:47,37.8265,36.4542,9.1,-.-,1.9,-.-\n3,2024.01.03,20:00:34,38.6838,37.9958,5.0,-.-,2.0,-.-\n4,2024.01.03,19:38:07,40.4108,28.8737,10.1,-.-,2.4,-.-\n5,2024.01.03,18:55:05,38.2988,37.1520,5.0,-.-,1.9,-.-\n6,2024.01.03,18:35:45,37.7362,37.0357,8.5,-.-,1.6,-.-\n7,2024.01.03,17:08:51,38.0932,36.6637,5.4,-.-,1.6,-.-\n8,2024.01.03,16:32:19,37.3907,36.8250,8.4,-.-,1.6,-.-\n9,2024.01.03,16:24:15,37.3080,42.3467,3.7,-.-,2.3,-.-\n'